
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <% mask = true if session[:running] %>
        <% session[:dealer_cards].each do |card| %>
          <% if mask %>
            <img src="<%= card_image %>" class="img-rounded img-thumbnail" style="box-shadow: 10px 10px 5px #888888;">&nbsp;
            <% mask = false %>
          <% else %>
            <img src="<%= card_image(card) %>" class="img-rounded img-thumbnail" style="box-shadow: 10px 10px 5px #888888;">&nbsp;
          <% end %>
        <% end %>
      </div>
      <div class="panel-footer">
        Dealer&nbsp;
        <% if !session[:running] %>
            <div class="pull-right">
              Total: <span class="badge alert-success"><%= get_card_total(session[:dealer_cards]) %></span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <% session[:player_cards].each do |card| %>
            <img src="<%= card_image(card) %>" class="img-rounded img-thumbnail" style="box-shadow: 10px 10px 5px #888888;">&nbsp;
        <% end %>
      </div>
      <div class="panel-footer">
        <%= session[:player_name] %>&nbsp;&nbsp;
        <div class="pull-right">
          Total: <span class="badge alert-success"><%= get_card_total(session[:player_cards]) %></span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <p class="pull-right">
      <% if session[:running] %>
        <a href="/stay" class="btn btn-default">Stay</a>&nbsp;
        <a href="/hit" class="btn btn-success">Hit</a>
      <% else %>
        <a href="/quit" class="btn btn-danger">Quit</a>&nbsp;
        <a href="/bet" class="btn btn-default">Change Bet</a>&nbsp;
        <a href="/deal" class="btn btn-success">Deal</a>
      <% end %>
    </p>
  </div>
</div>