<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 10px;">

      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Blackjack</a>
          </div>

          <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/new_game">New Game</a></li>
            </ul>

            <% if session[:player_name] != nil %>
              <p class="navbar-text navbar-right" style="color:#ffffff;">
                <%= session[:player_name] %>&nbsp;&nbsp;
                <span class="badge alert-info">Cash: <b>$<%= session[:player_cash] %></b></span>
                <span class="badge alert-warning">Bet: <b>$<%= session[:player_bet] %></b></span>
              </p>
            <% end %>
          </div>
        </div>

        <div class="col-sm-12">

          <%if session[:error] %>
              <div class="alert alert-danger"><%= session[:error] %></div>
              <% session[:error] = nil %>
          <% end %>

          <%if session[:victory_message] %>
              <div class="alert alert-info"><%= session[:victory_message] %></div>
              <% session[:victory_message] = nil %>
          <% end %>

          <div class="well">
            <%= yield %>
          </div>
        </div>
      </div>

  </body>
</html>
